:root {
  --blue: #4bb0fe;
  --blue_light: #8e9fff;
  --purple: #5e71d9;
  --purple_light: #8d9efc;
  --brown: #bea363;
  --red: #ff725e;
  --orange: #fa8c0c;
  --orange_light: #ffbc6e;
  --gray: #f9f9f9;
  --gray_light: #bababa;
  --green: #6e7d60;
  --green_light: #e0da48;
  --baseFont: #333;
  --line: #ddd;
}
