
:root {
    --blue:#4bb0fe;
    --blue_light:#8e9fff;
    --purple:#5e71d9;
    --purple_light:#8d9efc;
    --brown:#BEA363;
    --red:#FF725E;
    --orange:#fa8c0c;
    --orange_light:#ffbc6e;
    --gray:#F9F9F9;
    --gray_light:#bababa;
    --green:#6E7D60;
    --green_light:#E0DA48;
    --baseFont:#333;
    --line:#ddd;
  }
  