.blue{
    background: var(--blue);
}

.blue-light{
    background: var(--blue_light);
}

.purple{
    background: var(--purple);
}

.purple-light{
    background: var(--purple_light);
}

.red{
    background: var(--red);
}

.red-light{
    background: var(--red_light);
}

.orange{
    background: var(--orange);
}

.orange-light{
    background: var(--orange_light);
}

.gray{
    background: var(--gray);
}

.gray-light{
    background: var(--gray_light);
}

.green{
    background: var(--green);
}
.green-light{
    background: var(--green_light);
}

