.date {
  font-size: 14px;
  color: #646464;
  text-align: left;
  padding-bottom: 5px;
}

.item-title{
    font-weight: 900;
    font-size: 20px;
    text-align: left;
}

.location {
  font-size: 14px;
  color: #646464;
  svg {
    margin-right: 5px;
  }
}

.intro{
    font-size: 14px;
    color: #646464;
    svg {
        margin-left: 5px;
    }
}