.page{
    height: 100vh;
    background-size: cover;
    padding-top: 40px;
    // background-image: url('/image/bg2.png');
}

.wrapper{
    width: 80%;
    margin: 0 auto;
}

.panel{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding-top: 50px;
}

.item{
    height: 200px;
    width: 22%;
    cursor: pointer;
    p{
        margin-top: 20px;
    }
}

.img_box{
    height: 200px;
    display: flex;
    align-items: center;
    img{
        width: 80%;
        display: block;
        margin: 0 auto;
    }
}
